node_modules
desktop.ini
dist
dist-ssr
public/fonts/*
public/img/*
public/models/*
public/videos/*
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

# vscode
.vscode